<ActionBar [title]="'Detalles de ' + nombre"></ActionBar>

<FlexboxLayout flexDirection="column">
  <FlexboxLayout class="m-15">
    <Label class="h2" [text]="'ID: ' + id"></Label>
  </FlexboxLayout>

  <FlexboxLayout class="m-15">
    <Label class="h2" [text]="'Nombre: ' + nombre"></Label>
  </FlexboxLayout>

  <FlexboxLayout class="m-15">
    <Label class="h2" [text]="'Precio: ' + precio"></Label>
  </FlexboxLayout>

  <FlexboxLayout class="m-15">
    <Label class="h2" [text]="'Importada: ' + importada"></Label>
  </FlexboxLayout>
</FlexboxLayout>